<h1>basic</h1>
<form action="/basic" method="post" name="form_url" >
  <div class="place">
    <input type="radio" value="0" name="indity">Органический
    <input type="radio" value="1" name="indity">Полуразделенный<br>
    <input type="radio" value="2" name="indity">Встроенный<br>
      <input class="in_text" type="text" name="size">
  </div>
  <input id="elem" class="button" type="submit" value="Проверить!">
</form>
