<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<button><a href="/basic">basic</a></button>
<button><a href="/intermediate">intermediate</a></button>

  </body>
</html>
