<h1>intermediate</h1>
<form action="/basic" method="post" name="form_url" >
  <div class="place">
    <input type="radio" value="0" name="indity" checked>Органический
    <input type="radio" value="1" name="indity">Полуразделенный<br>
    <input type="radio" value="2" name="indity">Встроенный<br>
<br>
<label>Требуемая надежность ПО</label><br>
    <input type="radio" value="0.75" name="rsr" checked>Очень низкий<br>
    <input type="radio" value="0.88" name="rsr">Низкий<br>
    <input type="radio" value="1" name="rsr">Средний<br>
    <input type="radio" value="1.15" name="rsr">Высокий<br>
    <input type="radio" value="1.40" name="rsr">Очень высокий<br>
<br>
<label>Размер БД приложения</label><br>
    <input type="radio" value="0.94" name="sad" checked>Низкий<br>
    <input type="radio" value="1" name="sad">Средний<br>
    <input type="radio" value="1.08" name="sad">Высокий<br>
    <input type="radio" value="1.16" name="sad">Очень высокий<br>
<br>
<label>Сложность продукта</label><br>
    <input type="radio" value="0.7" name="ctp" checked>Очень низкий<br>
    <input type="radio" value="0.85" name="ctp">Низкий<br>
    <input type="radio" value="1" name="ctp">Средний<br>
    <input type="radio" value="1.15" name="ctp">Высокий<br>
    <input type="radio" value="1.30" name="ctp">Очень высокий<br>
    <input type="radio" value="1.65" name="ctp">Критический<br>
<br>
<label>Ограничения быстродействия при выполнении программы</label><br>
    <input type="radio" value="1" name="rtpc" checked>Средний<br>
    <input type="radio" value="1.11" name="rtpc">Высокий<br>
    <input type="radio" value="1.30" name="rtpc">Очень высокий<br>
    <input type="radio" value="1.66" name="rtpc">Критический<br>
<br>
<label>Ограничения памяти</label><br>
    <input type="radio" value="1" name="mc" checked>Средний<br>
    <input type="radio" value="1.06" name="mc">Высокий<br>
    <input type="radio" value="1.21" name="mc">Очень высокий<br>
    <input type="radio" value="1.56" name="mc">Критический<br>
<br>
<label>Неустойчивость окружения виртуальной машины</label><br>
    <input type="radio" value="0.87" name="vvme" checked>Низкий<br>
    <input type="radio" value="1" name="vvme">Средний<br>
    <input type="radio" value="1.15" name="vvme">Высокий<br>
    <input type="radio" value="1.30" name="vvme">Очень высокий<br>
<br>
<label> Требуемое время восстановления</label><br>
    <input type="radio" value="0.87" name="rtt" checked>Низкий<br>
    <input type="radio" value="1" name="rtt">Средний<br>
    <input type="radio" value="1.07" name="rtt">Высокий<br>
    <input type="radio" value="1.15" name="rtt">Очень высокий<br>
<br>
<label>Аналитические способности</label><br>
    <input type="radio" value="1.46" name="ac" checked>Очень низкий<br>
    <input type="radio" value="1.19" name="ac">Низкий<br>
    <input type="radio" value="1" name="ac">Средний<br>
    <input type="radio" value="0.86" name="ac">Высокий<br>
    <input type="radio" value="0.71" name="ac">Очень высокий<br>
<br>
<label>Опыт разработки</label><br>
    <input type="radio" value="1.29" name="sec" checked>Очень низкий<br>
    <input type="radio" value="1.13" name="sec">Низкий<br>
    <input type="radio" value="1" name="sec">Средний<br>
    <input type="radio" value="0.91" name="sec">Высокий<br>
    <input type="radio" value="0.82" name="sec">Очень высокий<br>
<br>
<label>Способности к разработке ПО</label><br>
    <input type="radio" value="1.42" name="ae" checked>Очень низкий<br>
    <input type="radio" value="1.17" name="ae">Низкий<br>
    <input type="radio" value="1" name="ae">Средний<br>
    <input type="radio" value="0.86" name="ae">Высокий<br>
    <input type="radio" value="0.70" name="ae">Очень высокий<br>
<br>
<label>Опыт использования виртуальных машин</label><br>
    <input type="radio" value="1.21" name="vme" checked>Очень низкий<br>
    <input type="radio" value="1.10" name="vme">Низкий<br>
    <input type="radio" value="1" name="vme">Средний<br>
    <input type="radio" value="0.90" name="vme">Высокий<br>
<br>
<label>Опыт разработки на языках программирования</label><br>
    <input type="radio" value="1.14" name="ple" checked>Очень низкий<br>
    <input type="radio" value="1.07" name="ple">Низкий<br>
    <input type="radio" value="1" name="ple">Средний<br>
    <input type="radio" value="0.95" name="ple">Высокий<br>
<br>
<label>Применение методов разработки ПО</label><br>
    <input type="radio" value="1.10" name="ust" checked>Низкий<br>
    <input type="radio" value="1" name="ust">Средний<br>
    <input type="radio" value="0.91" name="ust">Высокий<br>
    <input type="radio" value="0.82" name="ust">Очень высокий<br>
    <input type="radio" value="1" name="ust">Критический<br>
<br>
<label>Использование инструментария разработки ПО</label><br>
    <input type="radio" value="1.10" name="asem" checked>Низкий<br>
    <input type="radio" value="1" name="asem">Средний<br>
    <input type="radio" value="0.91" name="asem">Высокий<br>
    <input type="radio" value="0.83" name="asem">Очень высокий<br>
    <input type="radio" value="1" name="asem">Критический<br>
<br>
<label>Требования соблюдения графика разработки</label><br>
    <input type="radio" value="1.08" name="rds" checked>Низкий<br>
    <input type="radio" value="1" name="rds">Средний<br>
    <input type="radio" value="1.04" name="rds">Высокий<br>
    <input type="radio" value="1.10" name="rds">Очень высокий<br>
    <input type="radio" value="1" name="rds">Критический<br>


      <input class="in_text" type="text" name="size">
  </div>
  <input id="elem" class="button" type="submit" value="Проверить!">
</form>
